<div class="container mx-auto flex">
  <div class="mx-auto w-4/12 flex flex-col gap-2">
    <h1 class="text-xl">Parent Compoment</h1>
    <div class="flex flex-row gap-2">
      <input #inputEle class="border border-1 px-1 rounded-md w-full" type="text" title="inputText">
      <button (click)="saveInputText(inputEle)" class="px-2 rounded-md bg-blue-700 text-white ">Save</button>
    </div>

    <!-- show content -->
    <app-lifecycle *ngIf="inputText !== 'false'" [value]="inputText">
      <h2>Hello I am ng content. {{inputText}}</h2>
      <h2>Test git commit tags</h2>
    </app-lifecycle>


  </div>
</div>